.aboutUs{
  position: relative;
  border-radius: 20vw;
  padding: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: var(--color4aA);
  background-size: 30vw;
  background-repeat: no-repeat;
  margin: 5vw;
  height: fit-content;
}

.aboutUsTitle {
  color: var(--color1);
  font-family: "Monomaniac One", cursive;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.aboutUsContent{
  padding: 2rem;
  display: flex;
  z-index: 1;
  position: relative;
}
.aboutUsContent p{
  font-family: "Quicksand";
  font-weight: bold;
  color: var(--color1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  transform: translate(0%, -50%);
  margin: 2rem;
  font-size: 0.8rem;
  display: block;
  transition: all .2s;
}

.aboutUsContent>p{
  position: relative;
}

.tablet{
  font-weight: 800;
  margin: 1rem;
  border-radius: 2.5rem;
  position: relative;
  padding: 0.5rem;
  background-color: var(--color4aA);
}
.tablet img{
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color4);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 20%;
}

div.aboutUsContent div.glassCards#MembersCard{
  transition: all .2s;
}
div.aboutUsContent div.glassCards#MembersCard.shorter{
  width: 30rem;
  height: 80vh;
}
div.aboutUsContent div.glassCards#MembersCard.larger{
  animation: slideIn .5s ease-in-out forwards;
  height: fit-content;
}

@keyframes slideIn {
  0%{
  height: 80vh;
  }
  100% {
    height: fit-content;
  }
}
