.aboutUs{
  position: relative;
  border-radius: 20vw;
  padding: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: var(--color4aA);
  background-size: 30vw;
  background-repeat: no-repeat;
  margin: 5vw;
  height: fit-content;
}

.aboutUsTitle {
  color: var(--color1);
  font-family: "Monomaniac One", cursive;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.aboutUsContent{
  padding: 2rem;
  display: flex;
  z-index: 1;
  width: 80vw;
  position: relative;
}
.aboutUsContent p{
  font-family: "Quicksand";
  font-weight: bold;
  color: var(--color1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  transform: translate(0%, -50%);
  margin: 2rem;
  font-size: 0.8rem;
  display: block;
  transition: all .2s;
}

.aboutUsText {
  width: 40vw;
}

.aboutUsContent>p{
  position: relative;
}

.tablet{
  font-weight: 800;
  margin: 1rem;
  width: 100%;
  border-radius: 2.5rem;
  position: relative;
  padding: 0.5rem;
  background-color: var(--color4aA);
}
.tablet img{
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color4);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 2vw;
}

div.aboutUsContent div.glassCards#MembersCard{
  position: absolute;
  top: -20vh;
  right: 10vw;
}
div.aboutUsContent div.glassCards#MembersCard> div.membersList{
  transition: all .2s;
  overflow: hidden;
  width: 100%;
  position: relative;
}

div.aboutUsContent div.glassCards#MembersCard > div.membersList.shorter{
  height: 60vh;
  animation: slideUp .5s ease-in-out forwards;
}
div.aboutUsContent div.glassCards#MembersCard > div.membersList.larger{
  animation: slideDown .5s ease-in-out forwards;
  height: fit-content;
}

@keyframes slideUp {
  0%{
   height: 130vh;
  }
  100% {
    height: 60vh;
  }
}
@keyframes slideDown{
  0%{
   height: 60vh;
  }
  100% {
    height: 130vh;
  }
}
