@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{

  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root{
  --color1b: #ddddee;
  --color1: #81BCE4;
  --color1a: #2270A5;
  --color1e: #29B1EA;
  --color2: #000000;
  --color3: #090f11;
  --color3A:  rgba(40,116, 168, 0.2);
  --color4: #0d161b;
  --color4a: #0E1E28;
  --color4aA: rgba(14, 30, 40, 0.5);
  --color-1: #ffffff;
  --color-off: #C6606C;
}



html, body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  min-height: 100vh;
  /* min-width: 100vw; */
  background-color: #090f11;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

#root {
  margin: 0;
  min-height: 100vh;
  background-color: #090f11;
  text-align: center;
  font-family: Quicksand, sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
}

.glass{
  /* background: radial-gradient( rgba(34, 112, 165, 0.46) 0%, rgba(34, 112, 165, 0.1) 100%) ; */
  background: radial-gradient(var(--color3A) 10%, var(--color4aA) 80%);
  /* box-shadow: rgba(9, 15, 17,0.45) 0 4px 20px 0, inset rgba(9,15,17,0.45) 0 4px 50px 0; */
  backdrop-filter: blur(15px);
  /* border: 1px solid #236490; */
  border: 1px solid var(--color3A);
}

button{
  border:none;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2px;
  width: 10rem;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  cursor: pointer;
}
button.activated{
  background-color: var(--color1a);
  color: var(--color1);
  border: 3px solid var(--color1a);
  transition: 0.2s;
}
button.deactivated{
  border: 3px solid var(--color1a);
  background-color:transparent;
  color: var(--color1);
  transition: 0.2s;
}
button.deactivated:hover{
  width: 11rem;
}

button.activated:hover{
  width: 11rem;
  }




/* LENIS Customization*/
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@media (max-width: 1000px){

  .pageContent{
    height: 150vh;
  }
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }
    10% {
        opacity: 0.7;
    }
    20% {
        opacity: 0.5;
    }
    30% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.7;
    }
}
