:root{
  --perspective: 200vh;
}
li{
  list-style: none;
}

div.NavOpener{
  position: absolute;
  height: 3rem;
  width: 3rem;
  top:10vh;
  left: 50%;
  z-index: 3;
  transform: translate(-50%,0);
  border-radius: 50%;
  box-shadow: var(--color3) 0 0 12px 2px;
  background-color: var(--color3);
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 3vmin;
  transition: padding 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.fixedNavBar{
  position: fixed;
  top:5vh;
}

div.NavOpener:hover{
  background-color: transparent;
  box-shadow: none;
}
div.NavOpener>svg{
  height: inherit;
  overflow: visible;
}

div.NavOpener>svg>path{
  transition: 0.1s ease-in;
}

div.NavOpener::after{
  content:"";
  width: 0px;
  box-shadow: var(--color1) 0 0 5px 0px;
  aspect-ratio:1;
  border-radius: 50%;
  position: absolute;
  background-color: var(--color1);
  left:50%;
  top:50%;
  transform: translate(-50%, -30%);
  transition: 0.2s ease;
}
div.NavOpener:hover>svg>:nth-child(1){
  transform: translate(-1rem, 0.2rem);
}
div.NavOpener:hover>svg>:nth-child(2){
  transform: translate(1rem, 0.2rem );
}
div.NavOpener:hover>svg>:nth-child(3){
  transform: translate(0,-1.2rem);
}
div.NavOpener:hover::after{
  width: 0.8rem;
}

img.logo{
  position: fixed;
  top: 4vh;
  left: 5vw;
  height: 3rem;
  z-index: 2;
}


div.navContainerContainer{
  position: fixed;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  backdrop-filter: blur(10px);

  font-family: "Monomaniac One", sans-serif;
  background: var(--color4aA);
  color: var(--color-1);
  padding: 1em;
  margin: 0px;
  z-index: 10;
}


nav.NavContainer{
  position: absolute;
  perspective: var(--perspective);
  top: 50%;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 25vh;
}

nav.NavContainer div.NavItems{
  font-size: 3rem;
  color: var(--color1);
  transition: 0.1s linear;
  border-radius: 3vh;
  background-color: var(--color4a);
  width: fit-content;
  padding: 0.5em;
  margin: auto;
  transform-origin: 50% 50% -25vh;
  transform-style: preserve-3d;
}

 nav.NavContainer div.NavItems.navItemHover{
  background: var(--color1);
  color: var(--color4a);
}

nav.NavContainer div.NavItems span.NavItemIcons{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% + 2vw), -20%);
  padding: 1em;
  background: var(--color4a);
  border-radius: 3vh;
}

nav.NavContainer div.NavItems:nth-child(1){
  transform: rotateX(0deg);
}
nav.NavContainer div.NavItems:nth-child(1){
  transform: rotateX(40deg);
}
nav.NavContainer div.NavItems:nth-child(3){
  transform: rotateX(-40deg);
}

.hidden{
  animation: fadeOut 0.5s ease-in-out forwards;
}
.popIn{
  animation: fadeIn 0.5s ease-in-out forwards;
}


#navDestroyer69{
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  transition: 0.2s ease;
  opacity: 0.5;
}
#navDestroyer69:hover{
  opacity: 1;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  from {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
